.post {
	border-bottom: 1px #ddd solid;
	padding: 10px;
	display: grid;
	grid-template-columns: 40px 1fr; 
	align-items: start;
}	
	.ava{
		position: relative;
		padding-bottom: 100%;
		border-radius: 50%;
		overflow: hidden;
	}
		.ava img{
			position: absolute;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	.content {
		margin-left: 10px;
	}
		.name {
			color: #6fb2ff;
			font-size: 100%;
		}
		.date {
			color: #bbbbbb;
			font-size: 80%;
			margin-bottom: 8px;
		}
		.postText {
			font-size: 90%;
			margin-bottom: 8px;
		}
		.likes {
			text-align: end;
			height: 20px;
			line-height: 20px;
			color: #6fb2ff;
			font-size: 80%;
		}
			.likesImage {
				height: 12px;
				position: relative;
				top: 2px;
			}
			.likesCount {
				display: inline-block; 
				text-align: start;
				min-width: 14px;
				margin-left: 2px;
			}