.dialogs {
	display: grid;
	grid-template-columns: 1fr 4fr;
}
	.dialogsItems {
	}
		.dialog img{
			width: 20px;
			height: 20px;
			border-radius: 10px;
		}
		.dialog a{
			color: black;
		}
			.active {
				color: blue;
			}

	.messages {
	}
		.message {
			
		}