html, body {
	height: 100%;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	background: #edeef0;
	margin: 0;
}
a {
	text-decoration: none;
}

.appWrapper {
	height: 100%;
	display: grid;
	grid-template-rows: auto 1fr auto;
}
@media(min-width: 480px) {
	.appWrapper {
		grid-template: auto 1fr / minmax(150px, auto) 1fr;
	}
}
@media(min-width: 768px) {
	.appWrapper {
		grid-template: auto 1fr / 1fr 150px minmax(200px, 585px) 170px 1fr;
	}
}
	.header {
		grid-area: 1/1/2/2;
		height: 50px;
		background: #6fb2ff;
		color: #fff;
		display: grid;
		grid-template-columns: 1fr 50px  minmax(auto, 800px) auto 1fr;
		padding: 0px 10px;
	}
	@media(min-width: 480px) {
		.header {
			grid-area: 1/1/2/3;
		}
	}
	@media(min-width: 768px) {
		.header {
			grid-area: 1/1/2/6;
		}
	}
	
		.headerLogo {
			position: relative;
			grid-column: 2/3;
		}
			.headerLogo img {
				position: absolute;
				width: 100%;
				height: 100%;
				object-fit: contain;
			}
		.headerName {
			align-self: center;
			grid-column: 3/4;
		}
		.headerButton {
			padding: 0px;
			color: #fff;
			border: none;
			background: #6fb2ff;
			grid-column: 4/5;
		}
	
	.navbar {
		grid-area: 3/1/4/2;
		background: #6fb2ff;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		position: sticky;
		bottom: 0;
	}
	@media(min-width: 480px) {
		.navbar {
			grid-area: 2/1/3/2;
			padding: 10px;
			position: static;
			background: #edeef0;
			color: #6fb2ff;
			grid-template: repeat(4, 30px) / 1fr;
			border-right: 1px #6fb2ff solid;
		}
	}
	@media(min-width: 768px) {
		.navbar {
			grid-area: 2/2/3/3;
		}
	}
		.navbarItem {
			text-align: center;
			line-height: 50px;
			color: #fff;
		}
		@media(min-width: 480px) {
			.navbarItem {
				font-size: 90%;
				text-align: start;
				line-height: 30px;
				color: #000;
			}
		}
			.navbarItemActive {
				background: #4a76a8;
			}
			@media(min-width: 480px) {
				.navbarItemActive {
					background: #edeef0;
					color: #6fb2ff;
				}
			}

	.main {
		grid-area: 2/1/3/2;
		background: #fff;
	}
	@media(min-width: 480px) {
		.main {
			grid-area: 2/2/3/3;
		}
	}
	@media(min-width: 768px) {
		.main {
			grid-area: 2/3/3/4;
			border-right: 1px #6fb2ff solid;
		}
	}
	
	
	
		/*border: 1px red solid;*/	
	
		.profile {	
		}
			.profile_info {
			}
				.card {
					position: relative;
					margin: 10px 10px 0 10px;
				}
					.ava {
						position: relative;
						width: calc(10% + 30px);
						padding-bottom: calc(10% + 30px);
						border-radius: 50%;
						overflow: hidden;
						transition: 0.7s;
					}
					@media(min-width: 480px) {
						.ava {
							width: 40%;
							padding-bottom: 40%;
							border-radius: 0;
						}
					}
					.avaBig{
						width: 100%;
						padding-bottom: 100%;
						border-radius: 0;
					}
					@media(min-width: 480px) {
						.avaBig {
							width: 40%;
							padding-bottom: 40%;
						}
					}
						.ava img {
							position: absolute;
							width: 100%;
							height: 100%;
							object-fit: cover;
						}
					.cardName {
						position: absolute;
						top: 12%;
						left: calc(10% + 35px);
						transition: 0.7s;
					}
					@media(min-width: 480px) {
						.cardName {
							position: absolute;
							top: 0;
							left:42%;
						}
					}
					.cardNameFullMode {
						top: calc(100% - 2.5em);
						left: 10px;
						text-shadow: 1px 1px 3px #fff, 1px -1px 3px #fff, -1px 1px 3px #fff, -1px -1px 3px #fff;
					}
					@media(min-width: 480px) {
						.cardNameFullMode {
							top: 0;
							left:42%;
						}
					}
						.cardFullName {
							color: #6fb2ff;
							font-weight: bold;
							font-size: 110%;
						}
						.cardStatus {
							color: #000;
							font-size: 80%;
							padding-left: 2px;
						}
					
					.fullScreenAva {
						position: fixed;
						z-index: 1;
						top: 50%;
						left: 50%;
						width: 0px;
						height: 0px;
						background: rgba(0, 0, 0, 0.7);
						opacity: 0;
						transition: 0.3s;
					}
					.fullScreenAva.turnOn{
						top: 50%;
						left: 50%;
						width: 0px;
						height: 0px;
						opacity: 0;
					}
						.fullScreenAva img{
							position: absolute;
							width: 100%;
							height: 100%;
							object-fit: contain;
						}
					@media(min-width: 480px) {
						.fullScreenAva.turnOn{
							top: 0;
							left: 0;
							width: 100%;
							height: 100%;
							opacity: 1;
						}
					}
				.file {
					width: 25%;
					background: #9ecbff;
					color: #fff;
					text-align: center;
					padding: 5px 0;
				}
				@media(min-width: 480px) {
					.file{
						width: 40%;
					}
				}
					.fileInput{
						visibility: hidden;
						opacity: 0;
						position: absolute;
					}
				.info {
					padding: 10px;
					display: grid;
					grid-template-columns: auto 1fr;
					row-gap: 10px;	
					column-gap: calc(20% - 40px);	
				}
					.info_title {
						color: #bbbbbb;
						font-size: 80%;
						padding: 0 0 0 10px;
					}
					.info_info {
						color: #6fb2ff;
						font-size: 90%;
					}
					.headers {
						grid-column: 1/3;
						color: #6fb2ff;
						border-top: 1px solid #ccc;
						border-image: linear-gradient(to right, #fff, #ddd, #fff) 10%;
						padding: 10px 0 0 0;
					}
				
			.posts {
				border-top: 1px #ddd solid;
			}
				.newPostForm {
					padding: 10px;
					display: grid;
					grid-template-columns: 40px 1fr; 
					align-items: center;
					box-shadow: 0 3px 3px #edeef0;
					border-bottom: 1px #ddd solid;
				}
					.newPost_ava{
						position: relative;
						padding-bottom: 100%;
						border-radius: 50%;
						overflow: hidden;
					}
						.newPost_ava img{
							position: absolute;
							width: 100%;
							height: 100%;
							object-fit: cover;
						}
					.newPostCreator{
						display: grid;
						grid-template-columns: 1fr auto;
						border: 1px #6fb2ff solid;
						margin-left: 10px;
					}
						.newPostTextarea{
							font-family: inherit;
							outline: none;
							border: none;
							resize: none;
							padding: 5px 5px 2px 5px;
							font-size: 90%;
						}
						.newPostButton{
							outline: none;
							border: none;
							background: none;
							color: #6fb2ff;
							font-weight: bold;
							font-size: 140%;
							padding: 5px 10px 5px 10px;
							line-height: 100%;
						}
						.newPostButton:active {
							background: #6fb2ff;
							color: #fff;
							border: 1px #fff solid;
						}
				.post {
					border-bottom: 1px #ddd solid;
					padding: 10px;
					display: grid;
					grid-template-columns: 40px 1fr; 
					align-items: start;
				}	
					.post_ava{
						position: relative;
						padding-bottom: 100%;
						border-radius: 50%;
						overflow: hidden;
					}
						.post_ava img{
							position: absolute;
							width: 100%;
							height: 100%;
							object-fit: cover;
						}
					.post_content {
						margin-left: 10px;
					}
						.post_name {
							color: #6fb2ff;
							font-size: 100%;
						}
						.post_date {
							color: #bbbbbb;
							font-size: 80%;
							margin-bottom: 8px;
						}
						.post_text {
							font-size: 90%;
							margin-bottom: 8px;
						}
						.post_likes {
							text-align: end;
							height: 20px;
							line-height: 20px;
							color: #6fb2ff;
							font-size: 80%;
						}
							.post_heart {
								height: 15px;
								position: relative;
								top: 3px;
							}
	.statusFriends {
		display: none;
	}
	@media(min-width: 768px) {
		.statusFriends {
			display: block;
			grid-area: 2/4/3/5;
		}
	}
		.statusSearch {
			padding: 13px 15px 13px 10px;
			border-bottom: 1px solid #ccc;
			border-image: linear-gradient(to right, #edeef0, #ccc, #edeef0) 0 0 10% 0;
		}
			.statusSearchWrap {
				border: 1px solid #ccc;
				border-radius: 10px;
				display: grid;
				grid-template-columns: 20px 1fr;
			}
				.statusSearchIcon {
					align-self: center;
					justify-self: center;
					width: 60%;
				}
				.statusSearchInput {
					border: none;
					background: none;
					width: 110px;
					outline: none;
				}
			
		.statusItems {
		}
			.statusItem {
				padding: 8px 15px 8px 10px;
				border-bottom: 1px solid #ccc;
				border-image: linear-gradient(to right, #edeef0, #ccc, #edeef0) 0 0 10% 0;
				display: grid;
				grid-template-columns: 30px 110px 10px;
			}
				.statusAva {
					position: relative;
					padding-bottom: 100%;
					border-radius: 500px;
					overflow: hidden;
				}
					.statusAva img{
						position: absolute;
						width: 100%;
						height: 100%;
						object-fit: cover;
					}
				.statusName {
					padding-left: 5px;
					align-self: center;
					overflow: hidden;
					font-size: 70%;
					font-weight: bold;
				}
				.status{
					align-self: center;
					width: 5px;
					border-radius: 5px;
					padding: 2px;
				}
				.status.online {
					background: #6fb2ff;
				}
				.status.offline {
					background: #bbb;
				}
					.status div{
						background: #edeef0;
						width: 5px;
						height: 5px;
						border-radius: 3px;
					}