.dialog {
	height: 100%;
	display: grid;
	grid-template-rows: auto 1fr auto;
}
	.friend {
		display: grid;
		grid-template: auto auto / 35px minmax(187px, 10fr);
		padding: 15px 15px;
		box-shadow: 0 3px 3px #edeef0;
		color: black;
	}
		.ava {
			grid-area: 1/1/3/2;
			padding-bottom: 100%;
			position: relative;
			border-radius: 50%;
		}
			.ava img{
				position: absolute;
				width: 100%;
				height: 100%;
				object-fit: contain;
			
			}
		.name{
			grid-area: 1/2/2/3;
			align-self: end;
			font-size: 90%; 
			font-weight: bold;
			margin-left: 5px;
		}
		.status{
			align-self: start;
			grid-area: 2/2/3/3;
			font-size: 80%; 
			color: #aaa;
			margin-left: 5px;
		}
		
	.messages{
		margin: 15px 0;
	}	
		.message{
			display: grid;
			grid-template-columns: auto minmax(20px, 1fr);
		}
		.messageAuth{
			grid-template-columns: minmax(20px, 1fr) auto;
		}		
			.text{
				padding: 5px;
				margin: 5px 5px 0px 5px;
				border-radius: 10px 10px 10px 0px;
				font-size: 90%;
				background: #edeef0;
				word-break: break-word;
			}
				.textAuth{
					grid-column: 2/3;
					background: #9ecbff;
					border-radius: 10px 10px 0px 10px;
				}
			.date{
				float: right;
				padding: 10px 0px 0px 5px;
				font-size: 80%; 
				color: #777;
			}
	
	.messageCreater{
		display: grid;
		grid-template-columns: 1fr auto;
		position: sticky;
		bottom: 50px;
		background: #fff;
		box-shadow: 0 -3px 3px #edeef0;
	}
	@media(min-width: 480px) {
		.messageCreater{
			bottom: 0px;
		}
	}
		.textarea{
			font-family: inherit;
			outline: none;
			border: none;
			resize: none;
			padding: 5px 5px 2px 15px;
			font-size: 85%;
		}
		.button{
			outline: none;
			border: none;
			background: none;
			color: #6fb2ff;
			font-weight: bold;
			font-size: 140%;
			padding: 5px 10px 5px 10px;
			line-height: 100%;
		}
		.button:active {
			background: #6fb2ff;
			color: #fff;
			border-bottom: 1px #edeef0 solid;
		}
		.button:disabled {
			color: #ddd;
		}